<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 pt-lg-5 pb-3">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">¿Quienes somos?</h6>
      <h1 class="mb-4 section-title">Importadores y comerciantes de merchandising</h1>

      <p class="mb-4">Somos una empresa peruana, especializada en la importación, comercialización y personalización de
        productos para merchandising, ofrecemos soluciones integrales a nivel corporativo, ideal para campañas
        publicitarias, posicionamiento de marca, regalos empresariales.</p>

      <p>Ofrecemos apoyo en la estrategia de marketing para las micros , medianas y grandes empresas por medio de un
        amplio catalogo de productos enfocados al merchandising.</p>

      <p>Somos importadores directos de los principales mercados internacionales, permitiéndonos abastecer el mercado
        nacional con productos de calidad a precios accesibles para beneficio y crecimiento de otras empresas u
        organizaciones del sector.</p>

        <p>Somos tu socio estratégico para que tu marca destaque, conecte y deje huella.</p>

    </div>
    <div class="col-lg-5" style="min-height: 400px;">
      <div class="position-relative h-100 rounded overflow-hidden">
        <img class="position-absolute w-100 h-100" src="grafiya-empleados-con-amplia-experiencia-min.png"
          style="object-fit: cover;">
      </div>
    </div>
  </div>
</div>
