<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 pt-lg-5 pb-3">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">¿Quienes somos?</h6>
      <h1 class="mb-4 section-title">Importadores y comerciantes de merchandising</h1>
      <p class="mb-4">Importaciones GRAFIYA es una empresa peruana con una larga historia, especializada en la
        comercialización y personalización de productos merchandising para empresas y publico en general, con el
        respaldo de un equipo multidiciplinario enfocado en la satisfaciión del cliente con productos de calidad.</p>
      <p>
        Apostamos por la tecnologia poniendo a disposición nuestra tienda virtual y estableciendo alianzas estrategicas
        con el fín de acercarnos a nuestros clientes y darles la facilidad de adquisición rápida y satisfactoria</p>

    </div>
    <div class="col-lg-5" style="min-height: 400px;">
      <div class="position-relative h-100 rounded overflow-hidden">
        <img class="position-absolute w-100 h-100" src="grafiya-empleados-con-amplia-experiencia-min.png"
          style="object-fit: cover;">
      </div>
    </div>
  </div>
</div>
