input[type="number"] {
/*      width: 90px;
 */     background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.icon-square {
/*   background-color: #fff;
 */  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.texto-recortado {
  width: 210px;           /* El contenedor debe tener un ancho definido */
  white-space: wrap;    /* Evita que el texto salte a la siguiente línea */
  overflow: hidden;       /* Esconde el texto que sobra */
  text-overflow: ellipsis; /* Agrega los puntos suspensivos (...) */
}
