<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      @if(this.cajaUsuario.id != undefined && this.cajaUsuario != null){
      <info-caja-usuario [inCajaUsuario]=cajaUsuario />
      }
      @if(pedido) {
      <ul class="list-group my-2">
        <li class="list-group-item active">Información de movimiento</li>
      </ul>
      <div class="d-flex flex-row justify-content-center">
        <ng-container *ngIf="pedido.tipoPedido.nombre=='VENTA PERSONA' ">
          <div *ngIf="iMovimiento=='I'" style="margin-right: 5px;">
            <mat-card>
              <mat-card-header>
                <mat-card-title>SALDO NETO</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="black">{{pedido.saldoPedido| currency: 'PEN'}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="iMovimiento=='E'" style="margin-right: 5px;">
            <mat-card>
              <mat-card-header>
                <mat-card-title>FLUJO EFECTIVO</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="black">{{pedido.flujoEfectivoTotal| currency: 'PEN'}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
        <ng-container *ngIf="pedido.tipoPedido.nombre=='COMPRA O ADQUISICION'">
          <div *ngIf="iMovimiento=='E'" style="margin-right: 5px;">
            <mat-card>
              <mat-card-header>
                <mat-card-title>SALDO NETO</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="black">{{pedido.saldoPedido| currency: 'PEN'}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="iMovimiento=='I'" style="margin-right: 5px;">
            <mat-card>
              <mat-card-header>
                <mat-card-title>FLUJO EFECTIVO</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="black">{{pedido.flujoEfectivoTotal| currency: 'PEN'}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
        <div style="margin-right: 5px;">
          <mat-card>
            <mat-card-header>
              <mat-card-title>INGRESO</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="blue">{{movimiento.ingresoDinero| currency: 'PEN'}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-header>
              <mat-card-title>EGRESO</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="red">{{movimiento.egresoDinero| currency: 'PEN'}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      }
    </div>
    <div class="col-12 col-sm-6">
      <ul class="list-group my-2">
        <li class="list-group-item active">Registro de pago por: <b>{{titulo}}</b></li>
      </ul>
      <ng-container>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" #searchPedidoText [(ngModel)]="pedidoIdSearch" autocomplete="off"
            (click)="searchByPedidoId($event.target.value)" (change)="searchByPedidoId($event.target.value)" placeholder="Buscar por N° pedido">
        </mat-form-field>
      </ng-container>
      @if(pedido) {
      <form #myForm="ngForm" (ngSubmit)="onSubmitForm(myForm)">
        <mat-radio-group class="example-full-width" name="iMovimiento" [(ngModel)]="iMovimiento"
          (change)="changeTipoMovimiento($event.value)">
          <mat-radio-button value="I">Ingreso</mat-radio-button>
          <mat-radio-button value="E">Egreso</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo movimiento</mat-label>
          <mat-select name="tipoMovimientoPedido" [disabled]="true" [(ngModel)]="movimiento.tipoMovimientoPedido">
            <mat-option *ngFor="let tipoMovimientoPedido of tipoMovimientosPedidoLst" [value]="tipoMovimientoPedido">
              {{tipoMovimientoPedido.movimiento}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="pedido.tipoPedido.nombre=='VENTA PERSONA'">
          <mat-form-field *ngIf="iMovimiento=='I'">
            <mat-label>SALDO NETO</mat-label>
            <input matInput type="text" name="saldoPedido" #saldoPedido="ngModel" [(ngModel)]="pedido.saldoPedido"
              disabled>
          </mat-form-field>
          <mat-form-field *ngIf="iMovimiento=='E'">
            <mat-label>FLUJO EFECTIVO</mat-label>
            <input matInput type="text" name="flujoEfectivoTotal" #flujoEfectivoTotal="ngModel"
              [(ngModel)]="pedido.flujoEfectivoTotal" disabled>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="pedido.tipoPedido.nombre=='COMPRA O ADQUISICION'">
          <mat-form-field *ngIf="iMovimiento=='E'">
            <mat-label>SALDO NETO</mat-label>
            <input matInput type="text" name="saldoPedido" #saldoPedido="ngModel" [(ngModel)]="pedido.saldoPedido"
              disabled>
          </mat-form-field>
          <mat-form-field *ngIf="iMovimiento=='I'">
            <mat-label>FLUJO EFECTIVO</mat-label>
            <input matInput type="text" name="flujoEfectivoTotal" #flujoEfectivoTotal="ngModel"
              [(ngModel)]="pedido.flujoEfectivoTotal" disabled>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="pedido.persona">
          <mat-form-field *ngIf="iMovimiento=='I'">
            <mat-label>INGRESO DINERO</mat-label>
            <input matInput type="number" name="ingresoDinero" #ingresoDinero="ngModel"
              [(ngModel)]="movimiento.ingresoDinero" (keyup)="setMovimientoDinero(iMovimiento)" min="0" required>
            <div *ngIf="ingresoDinero.invalid && (ingresoDinero.dirty || ingresoDinero.touched)">
              <mat-error *ngIf="ingresoDinero?.errors?.['required']">
                Pago es requerido
              </mat-error>
            </div>
          </mat-form-field>
          <mat-form-field *ngIf="iMovimiento=='E'">
            <mat-label>EGRESO DINERO</mat-label>
            <input matInput type="number" name="egresoDinero" #egresoDinero="ngModel"
              [(ngModel)]="movimiento.egresoDinero" (keyup)="setMovimientoDinero(iMovimiento)" min="0" required>
            <div *ngIf="egresoDinero.invalid && (egresoDinero.dirty || egresoDinero.touched)">
              <mat-error *ngIf="egresoDinero?.errors?.['required']">
                Pago es requerido
              </mat-error>
            </div>
          </mat-form-field>
        </ng-container>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo pago</mat-label>
          <mat-select name="tipoPago" [(ngModel)]="movimiento.tipoPago" required>
            <mat-option *ngFor="let tipoPago of tipoPagos" [value]="tipoPago">
              {{tipoPago.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div class="d-flex justify-content-end">
          <button type="submit" color="primary" mat-raised-button cdkFocusInitial [disabled]="!myForm.form.valid">
            Registrar movimiento</button>
          <!--           <button color="primary" mat-raised-button [routerLink]="['/pedidos']">
            Cancelar
          </button> -->
        </div>

      </form>


      }
    </div>
  </div>
</div>
