<div class="container">
  <mat-card>
  <mat-card-header>
    <h6 class="card-title">{{ titulo() }}</h6>
    <div class="ms-auto">
      <button color="primary" mat-raised-button [routerLink]="'/personas'">Cancelar</button>
      @if(!personaId()){
      <button *ngIf="authService.hasRole('ROLE_REGISTER_PERSONA')" color="primary" [disabled]="!formValid()"
        mat-raised-button (click)='create()'>{{ titulo() }}</button>
      } @else{
      <button *ngIf="authService.hasRole('ROLE_UPDATE_PERSONA')" color="primary" [disabled]="!formValid()"
      mat-raised-button (click)='update()'>{{ titulo() }}</button>
      }
    </div>
  </mat-card-header>
  <mat-card-content>
    <form-datos-persona [inPersona]="persona()" (outPersona)="onDatosPersona($event)"/>
  </mat-card-content>
</mat-card>
</div>
