<div class="container py-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
        <i class="fa fa-5x fa-award text-primary mb-4"></i>
        <div class="display-2 text-white mb-2 font-weight-bold">{{iniciaExperiencia}}</div>
        <h2 class="text-white m-0">Años de experiencia</h2>
      </div>
    </div>
    <div class="col-lg-7 pt-5 pb-lg-5">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">El legado continua</h6>
      <h1 class="mb-4 section-title">HISTORIA</h1>
      <p>
        Nuestra historia comienza hace 40 años con una imprenta en la provincia de Melgar Departamento de Puno, nuestros
        padres provicianos con mucho deseo de superación pusieron la primera tienda donde se imprimia formateria y
        comprobantes de pago,  con el deseo de superación y expansión migraron a la ciudad de Arequipa, ampliando el negocio a la
        impresiones en offset, impresión de banner y diseño gráfico.</p><p> Ahora inspirados en su legado
        y como buenos provincianos trabajadores, realizamos importarciones de productos merchandising para la
        venta por mayoreo a negocios del mismo sector y tambien la venta a clientes y empresas, con el fin de
        potenciar su crecimiento a través de productos personalizados, conectando
        sus marcas, productos o servicios con su público objetivo de manera efectiva.
      </p>

    </div>
  </div>
</div>
