<div class="container py-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
        <i class="fa fa-5x fa-award text-primary mb-4"></i>
        <div class="display-2 text-white mb-2 font-weight-bold">{{iniciaExperiencia}}</div>
        <h2 class="text-white m-0">Años de experiencia</h2>
      </div>
    </div>
    <div class="col-lg-7 pt-5 pb-lg-5">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">El legado continua</h6>
      <h1 class="mb-4 section-title">HISTORIA</h1>
      <p>
        Nuestra historia comienza hace 40 años con una imprenta en la provincia de Melgar Departamento de Puno, nuestros
        padres provincianos con mucho deseo de superación pusieron la primera tienda donde se imprimía formatearía y
        tarjetería, su deseo de superación y expansión los llevo a migrar a la ciudad de Arequipa, ampliando la empresa
        con maquinarias como impresoras offsets, impresoras digitales e impresoras de gran formato Gigantografias.
      </p>

      <p>
        Inspirados en su legado, ampliamos el negocio con la importaciones de productos para merchandising ofreciendo
        soluciones integrales a nivel corporativo y abasteciendo el mercado nacional con productos de calidad a precios
        accesibles.
      </p>
    </div>
  </div>
</div>
