<p-carousel [value]="lstProductos" [numVisible]="4" [numScroll]="2" [circular]="true" [showNavigators]="false"
  [showIndicators]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="4000">
  <ng-template let-product #item>
    <div class="border border-surface-200 dark:border-surface-700 rounded m-1 p-2">
      <div class="mb-4">
        <div class="relative mx-auto">
          <a class="{{product.estadoProducto.color}}"
            [routerLink]="['/tienda/productos-categoria',product.categoria.nombre, 'item-producto-persona-online', product.codigo]">
            <img [src]="API_URL_VER_IMAGEN+product.imagen" [alt]="product.nombre" class="productos-por-categoria-img" />
          </a>
        </div>
      </div>
      <div class="mb-4 font-medium">{{ product.nombre | stringToTitleWithAccents }}</div>
      <div class="flex justify-content-between items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ product.precioNetoNumberShow | currency: 'PEN' }}
        </div>
        <div>
<!--          <p-button icon="pi pi-shopping-cart"
            [routerLink]="['/tienda/productos-categoria',product.categoria.nombre, 'item-producto-persona-online', product.codigo]" /> -->

          <a class="btn btn-secondary icon-square mb-2" [routerLink]="['/tienda/productos-categoria',product.categoria.nombre, 'item-producto-persona-online', product.codigo]">
<!--             <i class="fa-solid fa-cart-arrow-down"></i>
 -->
            <i class="fa fa-eye"></i>

          </a>


        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
