<div class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <!--       <h6 class="text-primary font-weight-semi-bold text-uppercase mb-3">La empresa</h6>
 -->
      <h1 class="section-title text-white mb-5">La empresa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex align-items-center mb-3 text-white">
      <img class="img-fluid" src="stheven.jpg" alt="">
      <div class="ml-3">
        <h5 class="text-primary">Visión</h5>
        <i>Director</i>
      </div>
    </div>
    <div class="col-lg-9 d-flex align-items-center text-white">
      <p>
        Ser la empresa líder en importación, comercialización y distribución de productos para merchandising, con
        innovación, tecnología y servicio personalizado. Impulsando el éxito de nuestros clientes con productos de apoyo
        a sus estrategias de marketing.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex align-items-center mb-3 text-white">
      <img class="img-fluid" src="bhernard.jpg" alt="">
      <div class="ml-3">
        <h5 class="text-primary">Misión</h5>
        <i>Director</i>
      </div>
    </div>
    <div class="col-lg-9 d-flex align-items-center text-white">
      <p>
        Potenciar el crecimiento de nuestros clientes y distintas empresas del sector a través de productos para
        merchandising, conectando sus marcas, productos o servicios con el público objetivo de manera efectiva.
      </p>
    </div>
  </div>
</div>
