@if(isAuthenticated() ) {
@if (!formPersonaValid || !formEnvioPedidoValid) {
<div class="row alert alert-danger mt-2">
  <p>Completar los datos correctamente para <b>FINALIZAR PEDIDO</b></p>
</div>
}

@if (tipoPedidoId()===3) { <!--3 Pedido de tiendaa-->
<div class="row mt-2">
  <autocomplete-resource [placeholder]="'Buscar cliente'" [searchFn]="buscarPersonas" [displayWith]="mostrarPersona"
    (selected)="personSelecToInForm($event)">
    <ng-template let-persona>
      <div>
        {{ persona.nomApellRz }}
        <span class="text-bold-italic">Documento:</span> {{ persona.numeroDocumento }}
        <span class="text-bold-italic">Celular:</span> {{ persona.celular }}
      </div>
    </ng-template>
  </autocomplete-resource>
</div>
}
<!-- <form id="frmPedidoPersonaOnlineFinalizado" #pedidoTiendaForm="ngForm" (ngSubmit)="crearPedidoTienda(pedidoTiendaForm)">
 -->
<div class="row">
  <div class="col-12 col-md-6">
    <form-datos-persona [inPersona]="inPersona()" (outPersona)="outPersonSelect($event)"></form-datos-persona>
  </div>
  <div class="col-12 col-md-6">
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="chkAddEnvio"><span>¿Adicionar envio al pedido?:</span>
          </label>&nbsp;&nbsp;
          <input class="form-check-input" type="checkbox" [checked]="isEnvio()" (change)="toggleIsEnvio($event)"
            name="chkAddEnvio" id="chkAddEnvio" />
        </div>
      </li>
    </ul>
    @if(isEnvio()){
    <form-envio-pedido (outEnvioPedido)="outEnvioPedidoSelect($event)"></form-envio-pedido>
    }
  </div>
</div>
<div id="itemsPedidoOnlineFinalizadoToDesktop" class="row">
  <div class="col-12">
    <table class="tabla-desktop table table-striped table-hover table-sm" cellspacing="1" cellpadding="1">
      <thead>
        <tr>
          <th>Eliminar</th>
          <th>Imagen</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>S/.Precio</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items(); track item.producto.id) {
        <tr>
          <td>
            <button type="button" id="btnDeleteFromPedidoOnline" class="btn btn-danger icon-square"
              title="Eliminar item" (click)="$event.stopPropagation(); eliminarItemPedido(item)">
              <i class="fa-regular fa-trash-can"></i> </button>
          </td>
          <td>
            <img [src]="item.imagenShow" width="86" alt={{item.producto.nombre}} />
          </td>
          <td>
            <b>{{item.producto.nombre | stringToTitleWithAccents}}</b>
            @if(item.producto.codigo != SERVICIO_ENTREGA_LOCAL &&
            item.producto.codigo != SERVICIO_ENTREGA_CIUDAD &&
            item.producto.codigo != SERVICIO_ENTREGA_PROVINCIAL){
            <ul>
              <li><b>Medidas: </b>{{item.producto.medidas}}
                <b>Color: </b>{{item.producto.color?.nombre}}
              </li>
              <li><b>Material: </b>{{item.producto.material?.nombre}}
                <b>Peso: </b>{{item.producto.peso}}
              </li>
            </ul>
            }
          </td>
          <td>
            <input style="width:80px" type="number" name="cantidad" aria-describedby="cantidad"
              [step]="item.producto.gruposDe" [min]="item.producto.minCantidadPedido"
              [max]="item.producto.maxCantidadPedido" [value]="item.cantidad"
              (input)="actualizarCantidad(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
          </td>
          <td>{{item.producto.precioMasBajoProductoShow| currency:'PEN'}}</td>

          <td>
            @if(tipoPedidoId()===4) { <!-- 4-VENTA POR ONLINE -->
            <input style="width:90px" type="number" name="importe" min="1" [value]="item.importe" disabled
              (input)="actualizarImporte(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
            } @else {
            <input style="width:90px" type="number" name="importe" min="1" [value]="item.importe"
              (input)="actualizarImporte(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
            }

          </td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1"><b>Entregar:</b></td>
          <td colspan="2">
            @if(tipoPedidoId()===4) { <!-- 4-VENTA POR ONLINE -->
            <input type="datetime-local" [value]="fechaEntrega()" (input)="actualizarFecha($any($event.target).value)"
              class="form-control" disabled name="entregadoEn" required>
            <!--            <div *ngIf="formUtils.isValidFieldFp(entregadoEn)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(entregadoEn)}}
            </div> -->
            } @else {
            <input type="datetime-local" [value]="fechaEntrega()" (input)="actualizarFecha($any($event.target).value)"
              class="form-control" name="entregadoEn" required>
            }
          </td>
          <td colspan="1" class="text-end fw-bold">TOTAL</td>
          <td colspan="2" class="text-center fw-bold">{{total() | currency:'PEN'}}</td>
        </tr>
        <tr>
          <td colspan="1"><b>Texto:</b></td>
          <td colspan="5">
<!--             <div class="col-12 col-md">
 -->              <textarea class="form-control" name="observacion" minlength="2" maxlength="250" rows="2"
                placeholder="Coloca aquí datos adicionales al pedido..."
                (input)="actualizarObservacion($any($event.target).value)"></textarea>
              <!--               <div *ngIf="formUtils.isValidFieldFp(observacion)" class="alert alert-danger">
                {{formUtils.getFieldErrorFp(observacion)}}
              </div> -->
<!--             </div>
 -->          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div id="itemsPedidoOnlineFinalizadoToMovil" class="row">
  @for (item of items(); track $index) {
  <div class="col">
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <span>{{item.producto.nombre | stringToTitleWithAccents}}</span>
        <button type="button" id="btnDeleteFromPedidoOnline" class="btn btn-danger icon-square" title="Eliminar item"
          (click)="$event.stopPropagation(); eliminarItemPedido(item)">
          <i class="fa-regular fa-trash-can"></i> </button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="me-auto">
          <span class="cabecera">Imágen:</span> <img [src]="item.imagenShow" width="86"
            alt={{item.producto.nombre}} /><br>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="me-auto">
          <span class="cabecera">Cantidad:</span>
          <input style="width:90px" type="number" name="cantidad" aria-describedby="cantidad"
            [step]="item.producto.gruposDe" [min]="item.producto.minCantidadPedido"
            [max]="item.producto.maxCantidadPedido" [value]="item.cantidad"
            (input)="actualizarCantidad(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="me-auto">
          <span class="cabecera">S/.Precio:</span> {{item.producto.precioMasBajoProductoShow| currency:'PEN'}}<br>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="me-auto">
          <span class="cabecera">S/. Subtotal:</span>
          @if(tipoPedidoId()===4) { <!-- 4-VENTA POR ONLINE -->
          <input style="width:90px" type="number" name="importe" min="1" [value]="item.importe" disabled
            (input)="actualizarImporte(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
          } @else {
          <input style="width:90px" type="number" name="importe" min="1" [value]="item.importe"
            (input)="actualizarImporte(item.producto.id, $event); " (keydown.enter)="$event.preventDefault()" />
          }

        </div>
      </li>
    </ul>
  </div>
  }
  <div class="col">
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <span class="cabecera">Entrega:</span>
        @if(tipoPedidoId()===4) { <!-- 4-VENTA POR ONLINE -->
        <input type="datetime-local" [value]="fechaEntrega()" (input)="actualizarFecha($any($event.target).value)"
          class="form-control" name="entregadoEn" required disabled>
        <!--           <div *ngIf="formUtils.isValidFieldFp(entregadoEn)" class="alert alert-danger">
            {{formUtils.getFieldErrorFp(entregadoEn)}}
          </div> -->
        } @else {
        <input type="datetime-local" [value]="fechaEntrega()" (input)="actualizarFecha($any($event.target).value)"
          class="form-control" name="entregadoEn" required>
        }
      </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <span>Observaciones o texto</span>
      </li>
      <li>
        <!--         <div class="mb-2">
 --> <textarea class="form-control" name="observacion" minlength="2" maxlength="250" rows="2"
          placeholder="Coloca aquí datos adicionales al pedido..."
          (input)="actualizarObservacion($any($event.target).value)"></textarea>
        <!--         </div>
 -->
      </li>
    </ul>

  </div>


  <div class="col">
    <ul class="list-group my-1">
      <li class="list-group-item active align-items-start">
        <span class="cabecera">TOTAL S/:</span> {{total() | currency:'PEN'}}
      </li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  @if(items().length > 0){
  <button class="btn btn-dark btn-lg" [disabled]="(!formPersonaValid || !formEnvioPedidoValid)"
    (click)="crearPedidoTienda()">Finalizar
    pedido</button>

  } <!-- @else {
  <button type="submit" class="btn btn-dark btn-lg" disabled>Finalizar pedido</button>
  } -->
</div>
<!-- </form>
 -->
}
@else {

<div class="row alert alert-danger mt-3">
  <div class="col-12 d-inline-flex">
    <div>Para finalizar el pedido, debes</div>&nbsp;
    <div>
      <b><a [routerLink]="['/login']">Iniciar sesión</a></b>
    </div><!--&nbsp;despues de&nbsp;
     <div>
      <b><a [routerLink]="['/crear-cuenta']">Crear cuenta</a></b>
    </div> -->
  </div>
</div>

}
