@if(isAuthenticated() ) {
@if (!formPersonaValid || !formEnvioPedidoValid) {
<div class="row alert alert-danger mt-2">
  <p>Completar los datos correctamente para <b>FINALIZAR PEDIDO</b></p>
</div>
}
@if (origenPedidoId()===3) { <!--3 Pedido de tiendaa-->
<div class="row mt-2">
  <autocomplete-resource [placeholder]="'Buscar cliente'" [searchFn]="buscarPersonas" [displayWith]="mostrarPersona"
    (selected)="personSelecToInForm($event)">
    <ng-template let-persona>
      <div>
        {{ persona.nomApellRz }}
        <span class="text-bold-italic">Documento:</span> {{ persona.numeroDocumento }}
        <span class="text-bold-italic">Celular:</span> {{ persona.celular }}
      </div>
    </ng-template>
  </autocomplete-resource>
</div>
}
<!-- <form id="frmPedidoPersonaOnlineFinalizado" #pedidoTiendaForm="ngForm" (ngSubmit)="crearPedidoTienda(pedidoTiendaForm)">
 -->
<div class="row">
  <div class="col-12 col-md-6">
    <form-datos-persona [inPersona]="inPersona()" (outPersona)="outPersonSelect($event)"></form-datos-persona>
  </div>
  <div class="col-12 col-md-6">
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="chkAddEnvio"><span>¿Adicionar envio al pedido?:</span>
          </label>&nbsp;&nbsp;
          <input class="form-check-input" type="checkbox" [checked]="isEnvio()" (change)="toggleIsEnvio($event)"
            name="chkAddEnvio" id="chkAddEnvio" />
        </div>
      </li>
    </ul>
    @if(isEnvio()){
    <form-envio-pedido (outEnvioPedido)="outEnvioPedidoSelect($event)"></form-envio-pedido>
    }
    <ul class="list-group my-1">
      <li class="list-group-item active d-flex justify-content-between">
        <span>Entregar en fecha:</span>
        @if(origenPedidoId()===4) {
        <input style="width:220px" type="datetime-local" [value]="fechaEntrega()"
          (input)="actualizarFecha($any($event.target).value)" disabled name="entregadoEn" required>
        } @else {
        <input style="width:220px" type="datetime-local" [value]="fechaEntrega()"
          (input)="actualizarFecha($any($event.target).value)" name="entregadoEn" required>
        }
      </li>
    </ul>
  </div>
</div>
<app-item-pedido [inEnvioPedido]="envioPedido()" [inTipoPedidoId]="PEDIDO_VENTA" (outItems)="recibirItems($event)" />
<div class="row">
  <div class="col-12">
    <textarea class="form-control" name="observacion" [ngStyle]="{ resize: 'none' }" aria-label="With textarea"
      placeholder="Coloca aquí datos adicionales al pedido..." minlength="2" maxlength="250" rows="2"
      (input)="actualizarObservacion($any($event.target).value)"></textarea>
    <!--     @if (formUtils.isValidField(formProducto, "observacion")) {
    <div class="alert alert-danger">
      {{ formUtils.getFieldError(formProducto, "observacion") }}
    </div>
    } -->

  </div>
</div>
<div class="row mb-2">
  @if(items().length > 0){
  <button class="btn btn-dark btn-lg" [disabled]="(!formPersonaValid || !formEnvioPedidoValid)"
    (click)="crearPedidoTienda()">Finalizar
    pedido</button>
  }
</div>
}
@else {

<div class="row alert alert-danger mt-3">
  <div class="col-12 d-inline-flex">
    <div>Para finalizar el pedido, debes</div>&nbsp;
    <div>
      <b><a [routerLink]="['/login']">Iniciar sesión</a></b>
    </div><!--&nbsp;despues de&nbsp;
     <div>
      <b><a [routerLink]="['/crear-cuenta']">Crear cuenta</a></b>
    </div> -->
  </div>
</div>

}
