  <div class="container py-5">
    <div class="row align-items-end">
      <div class="col-lg-4">
        <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Personalizados merchandising</h6>
        <h1 class="section-title mb-3">Productos</h1>
      </div>
      <div class="col-lg-8">
        <p >Promociona tus productos o servicios, gestiona y posiciona tu marca por medio del merchandising. Tenemos artículos que
pueden ser personalizados con el fin de vender, informar, persuadir a tu público objetivo.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <carrusel-productos></carrusel-productos>
      </div>
    </div>
  </div>
