<div class="container py-5">
  <div class="row m-0 portfolio-container">
    @for (categoria of lstCategoria; track $index) {
    <div class="col-lg-3 col-md-6 col-sm-12 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <div class="portfolio-img">
          <img class="categorias-producto-persona-img" [src]="API_URL_VER_IMAGEN+categoria.imagen"
            [alt]="categoria.descripcion">
        </div>
        <div class="portfolio-text bg-primary">
          <h5 class="font-weight-bold mb-4">{{categoria.nombre}}</h5>
          <div class="d-flex align-items-center justify-content-center">
            <a class="btn btn-sm btn-secondary m-1" [routerLink]="['/tienda/productos-categoria' ,categoria.nombre]"
              [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-lightbox="portfolio">
              <i class="fa fa-eye"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
