/* .example-full-width {
  width: 100%;
}
 */
.cabecera {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.black {
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

.blue {
  font-size: 30px;
  font-weight: bolder;
  color:blue;
}

.red{
  font-size: 30px;
  font-weight: bolder;
  color: red;

}
