<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      @if(this.cajaUsuario.id != undefined && this.cajaUsuario != null){
      <info-caja-usuario [inCajaUsuario]=cajaUsuario />
      }
    </div>
    <div class="col-12 col-sm-6">
      <ul class="list-group my-2">
        <li class="list-group-item active">Apertura o cierre de caja</li>
      </ul>
      <form [formGroup]="formCaja">
        <mat-form-field *ngIf="!cajaActiva" class="example-full-width">
          <mat-label>Caja por asignar</mat-label>
          <mat-select name="cajaPorAsignar" formControlName="cajaPorAsignar"
            (selectionChange)="asignarCajaUsuario($event.value)">
            <mat-option *ngFor="let caja of cajas" [value]="caja">
              {{caja.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="!cajaActiva" class="example-full-width">
          <mat-label>Caja ubicación</mat-label>
          <input matInput formControlName="ubicacionCaja" readonly="true" name="ubicacionCaja">
          <div *ngIf="formCaja.get('ubicacionCaja')?.invalid &&
                  (formCaja.get('ubicacionCaja')?.dirty ||
                  formCaja.get('ubicacionCaja')?.touched)">
            <mat-error *ngIf="formCaja.get('ubicacionCaja')?.errors?.['required']">
              Nombre es requerido
            </mat-error>
          </div>
        </mat-form-field>

        <mat-form-field *ngIf="cajaActiva" appearance="fill">
          <mat-label>En caja hay(conteo):</mat-label>
          <input matInput formControlName="saldoPorConteo" type="number" name="saldoPorConteo">
          <div *ngIf="formCaja.get('saldoPorConteo')?.invalid &&
                  (formCaja.get('saldoPorConteo')?.dirty ||
                  formCaja.get('saldoPorConteo')?.touched)">
            <mat-error *ngIf="formCaja.get('saldoPorConteo')?.errors?.['required']">
              Saldo caja es requerido
            </mat-error>
          </div>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button *ngIf="!cajaActiva && authService.hasRole('ROLE_OPEN_CJU')" (click)="abrirCaja()" mat-raised-button
            color="primary">Abrir CAJA</button>
          <button *ngIf="cajaActiva && authService.hasRole('ROLE_CLOSE_CJU')" (click)="cerrarCaja()" mat-raised-button
            color="primary">Cerrar CAJA</button>
        </div>
      </form>
    </div>
  </div>
</div>
