<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 pt-lg-5 pb-3">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">¿Por que escogernos?</h6>
      <h1 class="mb-4 section-title">Años de experiencia</h1>
      <p class="mb-4">La personalizacion de productos de merchandising se realiza siguiente los estandares de calidad y cumpliendo los requisitos establecidos por nuestros clientes y a los mejores precios del mercado.</p>

      <p class="mb-4">La experiencia, muchos clientes felices y productos vendidos son nuestra mejor carta de presentación</p>

      <div class="row">
        <div class="col-sm-4">
          <h1 class="text-secondary mb-2" data-toggle="counter-up">{{iniciaTrabajadores}}</h1>
          <h6 class="font-weight-semi-bold mb-sm-4">Trabajadores</h6>
        </div>
        <div class="col-sm-4">
          <h1 class="text-secondary mb-2" data-toggle="counter-up">{{iniciaClientesFelices}}</h1>
          <h6 class="font-weight-semi-bold mb-sm-4">Clientes felices</h6>
        </div>
        <div class="col-sm-4">
          <h1 class="text-secondary mb-2" data-toggle="counter-up">{{iniciaProductosVendidos}}</h1>
          <h6 class="font-weight-semi-bold mb-sm-4">Productos vendidos</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-5" style="min-height: 400px;">
      <div class="position-relative h-100 rounded overflow-hidden">
        <img class="position-absolute w-100 h-100" src="sublimacion-personalizacion-productos.png" style="object-fit: cover;">
      </div>
    </div>
  </div>
</div>
