<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h6 class="text-primary font-weight-semi-bold text-uppercase mb-3">Personalización, retoque profesional y entrega</h6>
      <h1 class="mb-4 section-title text-white">Servicios de valor</h1>
      <p class="text-white">La personalización se trata de la impresión de una imagen en los productos seleccionados, con un diseño y retoque profesional garantizando una alta
calidad y entregándote tu pedido en donde mejor se te acomode y a nivel nacional.</p>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0">
      <carrusel-servicios class="text-white"></carrusel-servicios>
    </div>
  </div>
</div>
