<!-- Page Header Start -->
<div class="container-fluid bg-secondary py-5">
  <div class="container py-5">
    <div class="row align-items-center py-4">
      <div class="col-md-6 text-center text-md-left">
        <h1 class="display-4 mb-4 mb-md-0 text-primary text-uppercase">Productos</h1>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="d-inline-flex align-items-center">
          <a class="btn btn-sm btn-outline-light disabled" href="">Productos</a>
          <i class="fas fa-angle-double-right text-light mx-2"></i>
          <a [routerLink]="['/tienda/productos-categoria', 'Tienda']" class="btn btn-sm btn-outline-light" href="">Ir a
            tienda virtual</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->
<div class="container-fluid bg-portfolio py-5">
  <categorias-producto-persona />
</div>
<div class="container-fluid py-5">
  <!--   <producto-persona /> -->
  <div class="container py-5">
    <div class="row align-items-end">
      <div class="col-lg-4">
        <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Personalizados merchandising</h6>
        <h1 class="section-title mb-3">Productos</h1>
      </div>
      <div class="col-lg-8">
        <p>Promociona tus productos o servicios, gestiona y posiciona tu marca por medio del merchandising. Manejamos
          una amplia variedad de artículos
          personalizables para ayudarte a vender, informar, persuadir a tu público objetivo.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <carrusel-productos></carrusel-productos>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid bg-portfolio py-5">
  <servicios-persona></servicios-persona>>
</div>
