<div class="container-fluid bg-secondary">
  <div class="container py-5">

    <div class="row align-items-center">
      <div class="col-md-7 text-center text-md-left">
        <!-- <h1 class="display-4 mb-4 mb-md-0 text-primary text-uppercase">Crear cuenta</h1> -->
        <div class="card p-4">
          <form id="formCreateCuenta" #formCreateCuenta="ngForm" [formGroup]="formNewCuenta" (ngSubmit)="crearCuenta()"
            autocomplete="off">
            <div class="row mb-2">
              <label for="tipoDocumentoId" class="form-label col-12"><b>Datos del usuario:</b></label>
              <div class="col-12">
                <select formControlName="tipoDocumentoId" name="tipoDocumentoId" class="form-control">
                  <option value="-1">
                    -- Seleccione Tipo de documento</option>
                  <option *ngFor="let tipoDocumento of tipoDocumentos" [value]="tipoDocumento.id">
                    {{tipoDocumento.nombre}}</option>
                </select>
                @if(formUtils.isValidField(formNewCuenta,'tipoDocumentoId')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,"tipoDocumentoId")}}
                </div>}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <input formControlName="numeroDocumento" type="text" class="form-control" name="numeroDocumento"
                  placeholder="Número de documento" (change)="findByNumDocumento($event)">
                @if(formUtils.isValidField(formNewCuenta,'numeroDocumento')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,"numeroDocumento")}}
                </div>}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <input formControlName="nomApellRz" type="text" class="form-control" name="nomApellRz"
                  placeholder="Nombres y apellidos o Razón social">
                @if(formUtils.isValidField(formNewCuenta,'nomApellRz')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,'nomApellRz')}}
                </div>}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <input formControlName="correo" type="text" class="form-control" name="correo"
                  placeholder="Corrreo electrónico">
                @if(formUtils.isValidField(formNewCuenta,'correo')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,'correo')}}
                </div>}
              </div>
            </div>
            <!--                 <div class="row mb-2">
                    <label for="celular" class="form-label col-12">Celular</label>
                    <div class="col-12">
                        <input formControlName="celular" type="text" class="form-control" name="celular"
                            (change)="findByCelular($event)">
                        @if(formUtils.isValidField(formNewCuenta,'celular')){
                        <div class="alert alert-danger">
                            {{formUtils.getFieldError(formNewCuenta,'celular')}}
                        </div>}
                    </div>
                </div> -->
            <div class="row mb-2">
              <label for="clave" class="form-label col-12"><b>Crear Clave:</b></label>
              <div class="col-12">
                <input formControlName="clave" type="password" class="form-control" name="clave" placeholder="Clave">
                @if(formUtils.isValidField(formNewCuenta,'clave')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,'clave')}}
                </div>}
              </div>
            </div>
            <div class="row mb-2">
              <!--             <label for="confirmaClave" class="form-label col-12"><b>Confirmar
                clave:</b></label> -->
              <div class="col-12">
                <input formControlName="confirmaClave" type="password" class="form-control" name="confirmaClave"
                  placeholder="Confirmar clave">
                @if(formUtils.isValidField(formNewCuenta,'confirmaClave')){
                <div class="alert alert-danger">
                  {{formUtils.getFieldError(formNewCuenta,'confirmaClave')}}
                </div>}
              </div>
            </div>


            <!--                 <div class="row mb-2">
                    <label for="direccion" class="form-label col-12">Dirección:</label>
                    <div class="col-12">
                        <input formControlName="direccion" type="text" class="form-control" name="direccion">
                        @if(formUtils.isValidField(formNewCuenta,'direccion')){
                        <div class="alert alert-danger">
                            {{formUtils.getFieldError(formNewCuenta,'direccion')}}
                        </div>}
                    </div>
                </div> -->
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-secondary me-2" [routerLink]="['/']">Cancelar
                registro</button>

              <button type="submit" class="btn btn-primary"
                [disabled]="!(formCreateCuenta.form.valid && !isCliente && !isUsuario)">Aceptación y registro</button>

            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5 text-white">
        @if(isCliente && !isUsuario){
        <div class="row">
          <div class="col-12 alert alert-info">
            Hola <b>{{cliente.nomApellRz}}</b>, ya tenemos algunos datos, tu usuario de sesión es
            <b>{{cliente.numeroDocumento}}</b> colocalé una clave.
          </div>
        </div>
        }

        @if(isCliente && isUsuario){
        <div class="row">
          <div class="col-12 alert alert-info">
            <p>Hola <b>{{cliente.nomApellRz}}</b> ya tienes una cuenta creada, si olvidaste tu clave has click
              aquí en <b><a [routerLink]="['/recuperar-clave']">RECUPERAR CLAVE</a></b> de lo contrario puedes <b>
                <a [routerLink]="['/login']">INICIAR SESIÓN</a></b></p>
          </div>
        </div>
        }
        <p>
          Crea tu cuenta para realizar compras online de manera rápida y segura, sin necesidad de
          venir a nuestras oficinas
        </p>

        <p>
          Participa en promociones exclusivas, recibe regalos, ofertas y asiste a eventos.
        </p>
        <div mat-subheader><b>Requerimientos para una clave segura:</b></div>

        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item bg-secondary text-white"><i
              class="bi bi-arrow-right-circle-fill text-light mr-2"></i>Al menos 4 caracteres de longitud.</li>
          <li class="list-group-item bg-secondary text-white"><i
              class="bi bi-arrow-right-circle-fill text-light mr-2"></i>Contiene al menos una letra.</li>
          <li class="list-group-item bg-secondary text-white"><i
              class="bi bi-arrow-right-circle-fill text-light mr-2"></i>Contiene al menos un dígito.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
