
.precio {
  font-size: x-large;
  font-weight: bold;
}

input[type="number"] {
/*     width: 80px;
 */    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
