<div class="container">
  <div class="row mt-3">
    <autocomplete-resource [placeholder]="'Buscar producto...'" [searchFn]="buscarProductos"
      [displayWith]="mostrarProducto" (selected)="onProductoSeleccionado($event)">
      <ng-template let-producto>
        <div>
           {{ producto.nombre }}
          <span class="text-bold-italic">Color:</span> {{ producto.color?.nombre }}
          <span class="text-bold-italic">Cant:</span> {{ producto.cantidadStock }} unid
          <span class="text-bold-italic">Cod:</span> {{ producto.codigo }}

        </div>
      </ng-template>
    </autocomplete-resource>
  </div>
  @if(producto()) {

  <div class="example-container" [class.example-is-mobile]="isMobile()">
    <mat-drawer-container autosize class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
      <mat-drawer-content class="main-sidenav-content">
        <customize-item-producto-to-client (clickVerCarrito)="drawnerRight.open()" [producto]="producto()!" />
      </mat-drawer-content>
      <mat-drawer position="end" class="main-drawer" #drawnerRight [mode]="isMobile() ? 'over' : 'side'"
        [opened]="!isMobile()" fixedTopGap="56">
        <carrito-item-producto [tipoPedidoId]=3 /> <!-- 3-VENTA POR TIENDA -->
        <!-- 4-VENTA POR ONLINE -->
      </mat-drawer>
    </mat-drawer-container>
  </div>
  }
</div>
