:host {
  display: block;
}

.text-bold-italic{
  font-style: italic;
  font-weight: bolder;
  color:darkblue;
}

.carrito {
  display: block;
}
@media (max-width: 991px) {
  .carrito {
    display: none;
  }
}
