<ul class="list-group my-2">
  <li class="list-group-item active">Información de caja</li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="d-flex flex-row">
      <span class="cabecera">Estado Caja:</span> <span class="celda-estado {{cajaUsuario.color}}">{{cajaUsuario.activa +
        '' |
        i18nSelect: estadoCajaUsuarioMap }}</span>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Saldo final:</span> <b>{{cajaUsuario.saldoFinal| currency: "PEN"}}</b><br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Egresos:</span> {{cajaUsuario.egresoEsperado| currency: "PEN"}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Ingresos:</span> {{cajaUsuario.ingresoEsperado| currency: "PEN"}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Saldo Inicial:</span><b> {{cajaUsuario.saldoInicial| currency: "PEN"}}</b><br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Caja asignada:</span> {{cajaUsuario.caja.nombre}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Usuario:</span> {{cajaUsuario.usuario.username}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Ubicación:</span> {{cajaUsuario.caja.ubicacion}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Fcha apertura:</span> {{cajaUsuario.fechaApertura}}<br>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="me-auto">
      <span class="cabecera">Fecha cierre:</span> {{cajaUsuario.fechaCierre}}<br>
    </div>
  </li>
</ul>
