@if (producto != undefined && producto.hasValue()) {

<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-drawer-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-drawer-content class="main-sidenav-content">
      <customize-item-producto-to-client (clickVerCarrito)="drawnerRight.toggle()" [producto]="producto.value()" />
    </mat-drawer-content>
    <mat-drawer position="end" class="main-drawer" #drawnerRight [mode]="isMobile() ? 'over' : 'side'" [opened] = "isMobile() ? 'false' : 'true'"
       fixedTopGap="56">
      <carrito-item-producto [tipoPedidoId]=4 />
      <!-- 4-VENTA POR ONLINE -->
    </mat-drawer>
  </mat-drawer-container>
</div>

<!-- <div class="row mt-2">
  <div class="col-12 col-lg-9">
    <customize-item-producto-to-client [producto]="producto.value()" />
  </div>
  <div class="carrito col-12 col-lg-3">
    <carrito-item-producto [tipoPedidoId]=4 />
</div>
</div> -->
}
