<nav class="navbar navbar-light navbar-expand-lg bg-white justify-content-evenly justify-content-lg-end">
  <div class="navbar-nav d-none d-lg-flex">
    <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="d-lg-flex nav-item nav-link active">Inicio</a>
    <a [routerLink]="['/productos-cliente']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="d-lg-flex nav-item nav-link">Productos</a>
    <a [routerLink]="['/nosotros']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="d-lg-flex nav-item nav-link">Nosotros</a>
    <a [routerLink]="['/ubicanos-cliente']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="d-lg-flex nav-item nav-link">Ubicanos</a>
  </div>
  @if (!isAutenticado()) {
  <div class="navbar-nav d-flex flex-row">
    <a [routerLink]="['/crear-cuenta']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="nav-item nav-link mr-2"><i class="bi bi-person-lines-fill mr-2"></i>Crear
      cuenta</a>
    <a [routerLink]="['/login']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      class="nav-item nav-link mr-2"><i class="bi bi-person-fill mr-2"></i>Iniciar sesión</a>

  </div>
  }
  @if (isAutenticado()) {
  <button type="button" (click)="sideNavToggle()" class="btn btn-primary mr-2">
    <i class="fa-solid fa-bars mr-2"></i>Menú</button>
  }
    <button type="button" (click)="openModalCart()" class="btn btn-primary">
    <i class="fa-solid fa-cart-plus mr-2"></i>Carrito
    </button>

</nav>
